@model TrainReservation.Models.BookingConfirmationModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Confirm";
}

<h2>Confirm Booking</h2>

<h3>Are you sure you want to book this trip?</h3>
<div>
    <h4>Trip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Trips.Departure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trips.Departure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trips.Departure_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trips.Departure_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trips.Destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trips.Destination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trips.Arrival_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trips.Arrival_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trips.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trips.Price)
        </dd>

    </dl>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <button onclick="@Url.Action("BookingConfirmed" , "Confirm", new { id = Model.Bookings.TripID , sender = HttpContext.Current.User.Identity.GetUserId() })">Confirm</button> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
</div>
